<style>
  .apps {
    font-family: monospace;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
  }
  .apps td {
    padding: 10px;
    border: dashed 2px #077;
  }
  .apps td:nth-child(1) {
    color: #700;
    font-weight: bold;
  }
  .apps td:nth-child(2) {
    color: #070;
    font-weight: bold;
  }
  .apps td:nth-child(3) {
    color: #007;
    font-size: 10px;
  }
  .apps td:nth-child(4) {
    color: #770;
    font-size: 10px;
  }
  .apps td:nth-child(5) {
    color: #770;
    font-size: 10px;
  }
  .apps td:nth-child(6) {
    color: #707;
  }
  .tokens {
    font-family: monospace;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
  }
  .tokens td {
    padding: 10px;
    border: dashed 2px #077;
  }
  .tokens td:nth-child(1) {
    color: #700;
    font-weight: bold;
  }
</style>

{{ title}} - {{ welcomeMsg }}

<div id="app" />

<template id="template">
  <hr />
  <button v-on:click="setadminpass">Set Admin Pass</button>
  <hr />
  <table class="tokens">
    <tr>
      <td>Heroku Name</td>
    </tr>
    <tr v-for="name in Object.keys(alltokens.tokensByName)">
      <td>[[ alltokens.namesByName[name] ]]</td>
      <td>
        <button v-on:click="createapp(alltokens.tokensByName[name])">
          Create
        </button>
      </td>
    </tr>
    <tr v-for="conf in buildConf">
      <td>
        <span style="color: #070">[[conf.app]]</span>
        @
        <span style="color: #007">[[conf.url]]</span>
      </td>
      <td>
        <select
          v-on:change="buildapp($event, conf)"
          style="color: #070; font-weight: bold"
        >
          <option
            v-for="name in ['Build At'].concat(Object.keys(alltokens.tokensByName))"
            :value="name"
            style="font-weight: bold"
          >
            [[ alltokens.namesByName[name] || name ]]
          </option>
        </select>
      </td>
    </tr>
  </table>
  <table class="apps">
    <tr>
      <td>Heroku Name</td>
      <td>App Name</td>
      <td>App Id</td>
      <td>Created At</td>
      <td>Updated At</td>
      <td>Region</td>
    </tr>
    <tr
      v-for="app in apps"
      :style="`background-color: ${appbckgs[app.herokuIndex]};`"
    >
      <td>[[ app.herokuName ]]</td>
      <td>
        <a
          rel="noopener noreferrer"
          target="_blank"
          :href="`https://${app.name}.herokuapp.com`"
          >[[ app.name ]]</a
        >
      </td>
      <td>[[ app.id ]]</td>
      <td>[[ app.created_at ]]</td>
      <td>[[ app.updated_at ]]</td>
      <td>[[ app.region.name ]]</td>
      <td>
        <button v-on:click="getlogs(app)" style="background-color: #afa">
          Logs
        </button>
      </td>
      <td>
        <button v-on:click="getbuilds(app)" style="background-color: #aaf">
          Builds
        </button>
      </td>
      <td>
        <button v-on:click="delapp(app)" style="background-color: #faa">
          Delete
        </button>
      </td>
      <!--<td><pre>[[ app ]]</pre></td>-->
    </tr>
  </table>
</template>

<script src="/vue"></script>

<script>
  const buildConf = {{ buildConf|safe }}

  function get(endpoint) {
    return new Promise((resolve) => {
      fetch(endpoint).then((resp) =>
        resp.json().then((json) => {
          resolve(json);
        })
      );
    });
  }

  function post(endpoint, payload) {
    console.log("post", endpoint, payload);
    return new Promise((resolve) => {
      fetch(endpoint, {
        method: "POST",
        body: JSON.stringify(payload),
        headers: {
          "Content-Type": "application/json",
        },
      }).then((resp) =>
        resp.json().then((json) => {
          resolve(json);
        })
      );
    });
  }
</script>

<script>
  document.title = "{{ title }}"

  const appConfig = {
      methods: {
          buildApp(name, url, token){
              return new Promise(resolve => {
                  post("/buildapp", {name, url, token, adminPass: localStorage.getItem("adminpass")}).then(json => resolve(json))
              })
          },
          buildapp(ev, conf){
            const token = ev.target.value
            ev.target.value = "Build At"
            const name = conf.app
            const url = conf.url
            this.buildApp(name, url, token).then(result => {
              window.alert(JSON.stringify(result))
            })
          },
          setadminpass(){
            const adminPass = window.prompt("Admin Pass")

            localStorage.setItem("adminpass", adminPass)

            document.location.reload()
          },
          getLogs(name, token){
              return new Promise(resolve => {
                  post("/getlogs", {name, token, adminPass: localStorage.getItem("adminpass")}).then(json => resolve(json))
              })
          },
          getlogs(app){
            this.getLogs(app.name, app.herokuToken).then(logs => {
              if(logs.error){
                window.alert(logs.error)
                return
              }

              window.open(logs.logplex_url, "_blank")
            })
          },
          getBuilds(name, token){
              return new Promise(resolve => {
                  post("/getbuilds", {name, token, adminPass: localStorage.getItem("adminpass")}).then(json => resolve(json))
              })
          },
          getbuilds(app){
            this.getBuilds(app.name, app.herokuToken).then(builds => {
              if(builds.error){
                window.alert(builds.error)
                return
              }

              const w = window.open()
              w.document.write("<pre>" + JSON.stringify(builds, null, 2) + "</pre>")
            })
          },
          createApp(name, token){
              return new Promise(resolve => {
                  post("/createapp", {name, token, adminPass: localStorage.getItem("adminpass")}).then(json => resolve(json))
              })
          },
          createapp(token){
              const name = window.prompt("App Name", "createdummyapp")

              if(name){
                  this.createApp(name, token).then(result => {
                      console.log(result)

                      window.alert(JSON.stringify(result))

                      this.getAllApps().then(apps => {
                          this.apps = apps
                      })
                  })
              }
          },
          getAllTokens(){
              return new Promise(resolve => {
                  post("/getalltokens", {adminPass: localStorage.getItem("adminpass")}).then(json => resolve(json))
              })
          },
          getApps(token){
              return new Promise(resolve => {
                  post("/apps", {token}).then(json => resolve(json))
              })
          },
          getAllApps(){
              return new Promise(resolve => {
                  get("/allapps").then(json => resolve(json))
              })
          },
          delApp(name, token){
              return new Promise(resolve => {
                  post("/delapp", {name, token, adminPass: localStorage.getItem("adminpass")}).then(json => resolve(json))
              })
          },
          delapp(app){
              const confirm = window.prompt("Type app name to delete")
              if(confirm !== app.name){
                window.alert("Delete canceled!")
                return
              }
              this.delApp(app.name, app.herokuToken).then(result => {
                  console.log(result)

                  window.alert(JSON.stringify(result))

                  this.getAllApps().then(apps => {
                      this.apps = apps
                  })
              })
          },
      },
      data() {
          return {
              apps: [],
              alltokens: {
                  tokensByName: {},
                  tokensByToken: {},
                  namesByName: {},
              },
              appbckgs: [
                  "#faa",
                  "#aea",
                  "#ccf",
                  "#eea",
                  "#f9f",
                  "#aee"
              ],
              buildConf,
          }
      },
      mounted(){
          this.getAllApps().then(apps => {
              this.apps = apps
          })

          this.getAllTokens().then(alltokens => {
            console.log(alltokens)
            if(!alltokens.error){
              this.alltokens = alltokens
            }
          })
      },
      compilerOptions: {
          delimiters: ["[[", "]]"]
      },
      template: document.getElementById("template").innerHTML
  }

  const app = Vue.createApp(appConfig)

  app.mount('#app')

  const createdAt = {{ createdAt }}

  setInterval(()=>{
      get("/createdat").then(json => {
          if(json !== createdAt) document.location.reload()
      })
  }, 500)
</script>
